
#aboutMe{
	background-image: url(../img/about-me.jpg);
	min-height: 369px;
	background-size: cover;
    background-repeat: no-repeat;

    .content-about{
    	flex-flow: column;
		display: flex;
		justify-content: flex-end;

		.holder{
			padding: 20px 66px 30px 0;
			width: 63%;
			align-self: flex-end;

		}

		h1,h2{
			margin: 0;
			font-family: $raleway;
			font-size: 2em;
			color:white;
			text-align: left;
		}

		p{
			font-family: $opensans;
			color:white;
		}

		a.action{
			display: inline-block;
			background-color: $purpleMaster;
			border-radius: 20px;
			width: 120px;
			text-align: center;
			font-family: $opensans;
			padding:5px 0;
			color:white;
			text-decoration: none;
			margin: 0 8px;
		}
    }
}

#myJobs{
	


	figure{
		// width: 100%;
		margin: 10px;
		position: relative;
		box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.16);

		img {
			width: 100%;
			height: 100%;
		}
	}


	figcaption {
		background: rgba(89, 50, 148, 0.8);
		position: absolute;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
		bottom: 0;
		color: white;
		opacity: 0;
		height: 0;
		flex-direction: column;
		justify-content: center;
		line-height: 1.3;
		transition: all .5s;
	}

	figcaption p,
	figcaption h3{
		text-align: center;
		padding: 0 30px;
		font-family: $opensans;
		width: 100%;
	}

	figure:hover figcaption,
	figure:focus figcaption {
	  opacity: 1;
	  height: 100%;
	}

	figure:focus {
	   outline: none;
	}

	.jobs-info{
		margin:10px 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}


#contact{
	background: #f0f0f0;

	.content-contact{
		padding:20px 0;
	}
	form{
		width: 40%;
		margin: 0 auto;
		position: relative;
	}

	span.effect-form{
		position: relative;
		margin-bottom: 0;

		input,
		textarea{
			color: #333;
			width: 100%;
			margin: 10px auto;
			box-sizing: border-box;
			border:0;
			border-bottom: 1px solid;
			border-bottom-color: #ccc;

			outline:none;
			color:#925db6;
			resize:none;

			background:0 0;
			padding:5px;
			font-family: $opensans;
		}

		.effect-4:focus, 
		.active{
			padding: 5px 0 7px;
			border: 1px solid transparent;
			// border-bottom-color: #ccc;
			transition: 0.4s;
		}

		.active{
			border:0;
		}
		.effect-4 ~ .focus-border{
			position: absolute;
			height: 0; 
			bottom: 5px;
			margin: auto;
			margin-bottom: 0;
			left: -3px;
			width: 100%; 
			transition: 0.4s;
			z-index: -1;
		}
		.effect-4:focus ~ .focus-border,
		.active ~ .focus-border{
			transition: 0.4s; 
			height: 36px; 
			border: 2px solid #925db6; 
			z-index: 1;
		}

	}

	.action{
		background: #593294;
		font-family: $raleway;
		color:white;
		outline: none;
		border-radius: 20px;
		width: 220px;
		font-size: 1em;
		padding: 10px 0;
		margin: 0 auto;
		display: block;
		border: 0;
	}

}

footer{
	background-color: #181221;
	font-family: $opensans;
	font-size: 13px;
	display: flex;
	color:white;
	justify-content:center;
	align-item:center;
}

