<section id="aboutMe">
	<div class="content-about container">

		<div class="holder">
			
			<h1>Hey!</h1>
			<h2>Whazup?</h2>

			<p>Evelise Vazquez, nice to meet you! I am from SP and graduated in Graphic Design from ESAMC College. I started designing in 2014 and then became interested in web development, starting my work on the front end.I use the Javascript, CSS3, Jquery (although I prefer to use pure javascript) and AngularJS tools.</p>

			<p>I like dinosaurs, rap music and code</p> 

			<p>Wanna see more stuff? See mmy other profiles:</p>

			<a href="https://www.linkedin.com/in/evelise-vazquez-11984bb0/" target="_blank" class="action">Linkedin</a>
			<a href="https://github.com/evelisee" target="_blank" class="action">Git</a>
			<a href="doc/evelise-vazquez.pdf" class="action" download>CV</a>
		</div>
	</div>
</section>

<section id="myJobs">
	<div class="content-myjobs container">
		<h2>My Jobs!</h2>
		<span>Do you wanna be here? Talk to me!</span>

		<div class="jobs-info">
		
			<figure style="background-image: url('/img/jobs/popescola.jpg')" class="gap-3">
				ss
			</figure>

			<figure style="background-image: url('/img/jobs/popescola.jpg')" class="gap-3">
				ss
			</figure>
			<figure style="background-image: url('/img/jobs/popescola.jpg')" class="gap-3">
				ss
			</figure>
		</div>
	</div>
</section>