<section id="aboutMe">
	<div class="content-about container">

		<div class="holder">
			
			<h1>Hey!</h1>
			<h2>Whazup?</h2>

			<p>Evelise Vazquez, Nice to meet you!<br/>
			I live in Santos, São Paulo and I am a Front-end developer graduated by ESAMC College. I always was a creative and active person since childhood and when I got older I decided to study and work with Graphic Design. I started designing in 2014 for a small company and there I made my first contact with web development and I have been developing since then, working hard and doing my best to improve my skills. <br/>
			Currently, I am used to working with following programming languages: Javascript, CSS3, Jquery(although I prefer to use Javascript itself) and AngularJS.</p>

			<p>I like dinosaurs, hip-hop music, see movies on Netflix and code a lot haha.</p>

			<p>Would you like to check some projects I have worked on? <br/>
			Click on the below links.</p>

			<a href="https://www.linkedin.com/in/evelise-vazquez-11984bb0/" target="_blank" class="action">Linkedin</a>
			<a href="https://github.com/evelisee" target="_blank" class="action">Git</a>
			<a href="doc/evelise-vazquez.pdf" class="action" download>CV</a>
		</div>
	</div>
</section>

<section id="myJobs">
	<div class="content-myjobs container">
		<h2>My Jobs!</h2>
		<span>Do you wanna be here? Talk to me!</span>

		<div class="jobs-info">
			
			<figure  ng-repeat="project in projectsInfo">
		        <img alt="nerd girl" ng-src="/img/jobs/{{project.file}}.jpg">

		        <figcaption>
		            <h3>{{project.title}}</h3>

		            <p>{{project.contentDescription}}</p>

		        </figcaption>
		    </figure>

			
		</div>
	</div>
</section>


<section id="contact">
	<div class="content-contact container">
		<h2>Talk to me!</h2>
		<span>Became my friend</span>


		<form>

			<span class="effect-form">
				<input class="effect-4 {{user.name ? 'active' : ''}}"  type="text" name="nameUser" ng-model="user.name" placeholder="Name">
				<span class="focus-border "></span>
			</span>

			<span class="effect-form">
				<input type="text" name="emailUser" ng-model="user.email" class="effect-4 {{user.email ? 'active' : ''}}" placeholder="E-mail">
				<span class="focus-border "></span>
			</span>

			<span class="effect-form">
				<textarea rows="5" name="messageUser" ng-model="user.message"></textarea> 
			</span>

			<button class="action">SEND!</button>
		</form>

		<div class="clear"></div>

	</div>
</section>

<footer>
	<div class="info">
		<p>Evelise Vazquez { {{year}} }</p> 
		<!-- <p><img src="img/svg/facebook.svg">/EveliseVazquez </p>	   -->
		<!-- <p><img src="img/svg/mobile.svg">/EveliseVazquez</p> -->
	</div>
</footer>