@import url('normalize.css');
@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

body{
  margin:0;
  font-family: "Plus Jakarta ns", sans-serif; 
  overflow-x: hidden;
}
